<h1 class="titulo">SERGIO GALÁN. Copyright Oficial ©</h1>

<div *ngIf="ocultarBoton">
  <h1 class="equipoEscrito">Equipo: {{seleccionEquipo}}</h1>
  <input class="inputStyle" placeholder="Inserte equipo"  [(ngModel)]="seleccionEquipo"><br><br>
  <button class="buttonAddTeam" (click)="addArrayEquipo()"> Añadir Equipos</button><br><br>
  <div *ngFor="let string of nombresArray,index as i">
  <h1 class="equiposInsertados">Team {{i+1}} : {{nombresArray[i]}}</h1>
  </div>
  <button class="buttonViewClassification" (click)="crearEquipos(); mostrarClasificacion()"> Mostrar
    Clasificacion</button>
</div>
<div *ngIf="botonClasificacion">
  <button class="buttonClasificacionGeneral" (click)="mostrarClasificacionTotal()"> Clasificacion Total</button><br><br>
</div>
<div *ngIf="botonJornadas">
  <button class="buttonJornadaAjornada" (click)="pasarJornada()"> Pasar Jornada</button><br><br>
</div>

<div *ngIf="clasificacionGeneral">
    <h3 class="tituloTabla">GENERAL</h3>
  <table class="tabla">

    <br>
   
    <tr>

      <th> TEAMS </th>
      <th> POINTS </th>
      <th> GOALS IN FAVOR</th>
      <th> GOALS AGAINST </th>

    <tr *ngFor="let equipo of equipos">

      <td>{{equipo.nombre}}</td>
      <td>{{equipo.puntuacion}}</td>
      <td>{{equipo.golesAfavor}}</td>
      <td>{{equipo.golesEnContra}}</td>
    </tr>
  </table>

</div>
<br>
<div *ngIf="jornadaAjornada">
    <h3 class="tituloTabla">JORNADAS</h3>
  <table class="tabla2">

    <br>
    
    <tr>
     
      <th> ANFITRION </th>
      <th> HUESPED </th>
      <th> GOALS ANFITRION </th>
      <th> GOALS HUESPED</th>
      <th> JORNADA</th>
    </tr>

    <tr *ngFor="let jornada of jornadas">


      <td>{{jornada.anfitrion.nombre}}</td>
      <td>{{jornada.huesped.nombre}}</td>
      <td>{{jornada.golesAnfitrion}}</td>
      <td>{{jornada.golesHuesped}}</td>
      <td>{{jornada.numeroJornada}}</td>

    </tr>
  </table>
  <br>
</div>
<div *ngIf="ganador">
  <h1 class="h1Gnador">¡¡¡Ganador!!! {{obtenerGanador()}} </h1>
</div>